@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Qwitcher+Grypen:wght@400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
:root{
    --tom0:#c9decc;
    --tom1:#C5EBC9;
    --tom2:#A1C0A4;
    --tom3:#859E87;
    --tom4:#687C6A;
    --tom5:#323C33;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", serif;
    --fonte-android: 'Android', 'Cursive';
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--tom1);
    font-family: var(--fonte-padrao);
}

header > h1{
    color: var(--tom5);
    font-family: var(--fonte-destaque);
    margin-bottom: 40px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.395);
    font-weight: normal;
}
header > p {
    color: var(--tom5);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    margin: auto;
    padding: 0px 10px 20px 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.395);
}

a.externo::after{
    content: '\00A0\1F517';
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong{
    color: var(--tom5);
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--tom5);
    background-color: var(--tom2);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--tom4);
}

main h2{
    font-family: var(--fonte-android);
    color: var(--tom5);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--tom2), transparent);
    text-indent: 4px;
}

header{
    background-image: linear-gradient(to bottom, var(--tom2), var(--tom4));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

nav{
    background-color: var(--tom4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.173);
}

nav > a {
    padding: 10px;
    border-radius: 5px;
    color: var(--tom1);
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}
nav a:hover{
    background-color: var(--tom5);
}

main{
    max-width: 850px;
    min-width: 300px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 5px black;
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--tom0);
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    margin: auto;
    display: block;
}
main h1{
    color: var(--tom5);
    font-family: var(--fonte-android);
}

main h2{
    color: var(--tom5);
    font-family: var(--fonte-android);
}

div.video{
    background-color: var(--tom4);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 60%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--tom2);
    padding: 10px;
    border-radius: 7px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside ul{
    list-style-position: inside;
    list-style-type: '\2705\00A0\00A0';
    columns: 2;
}

aside h3{
    background-color: var(--tom4);
    color: white;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer{
    background-color: var(--tom5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--tom1);
}